<ul class="navbar-nav">

    @if (User.Identity.Name != null)
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Account" asp-controller="Login" asp-action="Logout">@User.Identity.Name LogOut</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" id="login" asp-area="Account" asp-controller="Login" asp-action="Index">Login</a>
        </li>
    }

</ul>